# === Global ===
node_modules/
.env
.env.*.local
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# === Build & Coverage ===
build/
dist/
coverage/

# === Logs ===
logs/
*.log
*.log.*

# === Frontend Specific ===
frontend/node_modules/
frontend/.env
frontend/build
frontend/dist

# === Backend Specific ===
backend/node_modules/
backend/.env
backend/build
backend/dist
backend/logs/
backend/config/config.env

# === IDEs ===
.vscode/
.idea/
*.swp

# === Package Manager Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
